# Compreender os dados e manipular para realizar as análises

In [49]:
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

In [5]:
dtaFile = '../data/dados_2003-2019.dta'
df = pd.read_stata(dtaFile, convert_categoricals=False, convert_missing=True)

In [7]:
print(df.shape)
df.head()

(4330567, 125)

,compet,esf_adm,natureza,cd_proced,uf,tp_vigencia,sexo,cd_cid,espec,cd_abrang,...,modal2,modal3,modal5,modal6,abrang2,abrang4,abrang5,uf_code,cod_vig,logvalor_dia
0,2014,4,7,00000000,PB,P,2,000,.,3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15,3,6.125736
1,2014,4,7,00000000,AL,A,2,000,.,1,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2,1,5.557233
2,2014,4,7,00000000,PB,P,2,000,.,3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15,3,5.693365
3,2014,4,7,00000000,BA,P,1,000,.,4,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,5,3,6.039529
4,2014,4,7,00000000,PB,P,2,000,.,3,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,15,3,5.557233

# Selecionar variaveis

In [69]:
# Definir variaveis
var_names = ['sexo_feminino', 'menos1ano', 'fxet_1a4anos', 'fxet_5a9anos', 'fxet_10a14anos', 'fxet_15a19anos', 'fxet_20a24anos',
             'fxet_25a29anos', 'fxet_30a34anos', 'fxet_35a39anos', 'fxet_40a44anos', 'fxet_45a49anos', 'fxet_50a54anos', 
             'fxet_55a59anos', 'fxet_60a64anos', 'fxet_65a69anos', 'fxet_70a74anos', 'fxet_75a79anos', 'fxet_mais80anos', 'cod_vig',
             'cirurgia','obstetricia', 'clinica', 'dcronic', 'psiquiatria', 'tisiologia', 'pediatria', 'reabilitacao', 'hosp_dia',
             'abrang2','abrang4', 'abrang5', 'plano_hospit', 'ac', 'mc', 'opm', 'cap_cid10']

# Criar novo dataframe com as variaveis selecionadas
df_var = df[var_names]

# Visualizar caracteristica do novo df
print(df_var.shape)
df_var.head()

(4330567, 37)

,sexo_feminino,menos1ano,fxet_1a4anos,fxet_5a9anos,fxet_10a14anos,fxet_15a19anos,fxet_20a24anos,fxet_25a29anos,fxet_30a34anos,fxet_35a39anos,...,reabilitacao,hosp_dia,abrang2,abrang4,abrang5,plano_hospit,ac,mc,opm,cap_cid10
0,1,0,0,0,0,0,0,0,0,0,...,.,0,0.0,0.0,0.0,1.0,.,.,.,.
1,1,0,0,0,0,0,0,0,0,0,...,.,0,0.0,0.0,0.0,1.0,.,.,.,.
2,1,0,0,0,0,0,0,0,0,0,...,.,0,0.0,0.0,0.0,1.0,.,.,.,.
3,0,0,0,0,0,0,0,0,0,0,...,.,0,0.0,1.0,0.0,1.0,.,.,.,.
4,1,0,0,0,0,0,0,0,0,0,...,.,0,0.0,0.0,0.0,1.0,.,.,.,.

In [59]:
# Verificar tipo dos dados em cada coluna
# df_var.info()

In [42]:
# Verificar se há valores nulos
# df_var.isna().sum()

# Desa forma não funciona, pq a maioria das colunas estão como formato 'objecto', assim os valore '.' 
# não são considerados nulos, porém não são números (não podendo ser usados nos modelos)

# Modelar dados para os modelos

In [70]:
# Transformar todas as colunas em valores numéricos, 
# mudando os valores '.' para 0

# Selecionar nome das colunas
df_col_names = df_var.columns

# Criar função para substituir '.' por 0
def change_dot_string(df_row):
    if str(df_row) == '.':
        return 0
    else:
        return df_row
    
# Aplicar transformação das colunas
for col in df_col_names:
    if df_var[col].dtype == 'object':
        df_var[col] = df_var[col].apply(lambda x: change_dot_string(x))
        df_var[col] = pd.to_numeric(df_var[col],errors='coerce')

In [71]:
df_var.head()

,sexo_feminino,menos1ano,fxet_1a4anos,fxet_5a9anos,fxet_10a14anos,fxet_15a19anos,fxet_20a24anos,fxet_25a29anos,fxet_30a34anos,fxet_35a39anos,...,reabilitacao,hosp_dia,abrang2,abrang4,abrang5,plano_hospit,ac,mc,opm,cap_cid10
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0.0,0.0,0.0,1.0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0.0,0.0,0.0,1.0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0.0,0.0,0.0,1.0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0.0,1.0,0.0,1.0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0.0,0.0,0.0,1.0,0,0,0,0

In [72]:
# Exportar dataframe manipulado
df_var.to_csv('../data/data_sus.csv', index=False)

OSError: [Errno 28] No space left on device